
<%= content_for :head_filter do %>

  <li>
    <%= form_with model: @tour, url: tour_filter_path(tour_id: 1), method: :get, remote: true do |form| %>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Filter by:</span>
        </div>
        <%= form.select :country, ["ALL"] + @countries.map { |country| country.name }, {}, { class: 'form-control' } %>
        <%= number_field_tag :low_price, nil, min: 1, step: 0.01, class: 'form-control', placeholder: '$ from', style: 'max-width: 90px' %>
        <%= number_field_tag :high_price, nil, min: 1, step: 0.01, class: 'form-control', placeholder: '$ to', style: 'max-width: 90px' %>
        <div class="input-group-append">
          <%= form.submit 'Apply', class: 'btn btn-outline-success' %>
        </div>

      </div>
    <% end %>
  </li>

<% end %>


<div class="row" id="home_page">
  <%= render partial: "tours_list" %>
</div>
