<%= form_for @tour do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <%= f.text_field :title, placeholder: 'title', class: 'form-control' %>
            </div>
            <div class="col-md-6">
              <%= f.collection_select :country_id, @countries, :id, :name, {}, { class: 'form-control' } %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <%= f.text_field :price, placeholder: 'price', class: 'form-control' %>
            </div>
            <div class="col-md-6">
              <%= f.text_field :tourists_count, placeholder: 'tourists count', class: 'form-control' %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <%= f.text_field :start_date, class: 'datepicker form-control', placeholder: 'start date' %>
            </div>
            <div class="col-md-6">
              <%= f.text_field :end_date, class: 'datepicker form-control', placeholder: 'end date' %>
            </div>

            <%= f.file_field :image %>

          </div>
        </div>
      </div>
      <br>
      <%= f.submit 'Create tour', class: 'btn btn-success', style: 'width: 100%' %>
    </div>
  </div>
<% end %>
